.light {
  background-color: rgb(218, 218, 218);
}

.light button {
  background-color: #000;
  color: white;
}

.dark {
  background-color: rgb(43, 43, 43);
  color: white;
}

.dark button {
  background-color: #fff;
  color: black;
}
